<!DOCTYPE html>
<html>
<head>
    <title>VFlight</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>V</b>-Flight</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                @Html.ActionLink(
         "Profile",
         "Details",
          "FlyAdmins",
         routeValues: new {
             UserName = Session["UserName"].ToString()
         }, htmlAttributes:null
                )
                <a href="FlyAdmins/Details/@(Session["UserName"])" class="w3-bar-item w3-button">Profile</a>
                <a href="FlyAdmins/FlightCreate" class="w3-bar-item w3-button">Create Flight</a>
                <a href="#contact" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        @*<img class="w3-image" src="~/Images/adult-cactus-camera-297755.jpg" alt="Architecture" width="1500" height="800">*@
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Welcome to Vivek Flight</b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">
    </div>

    <div>
        @RenderBody()
    </div>



    <div class="container body-content">
     
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - V-Flight</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
